table#users {
    margin-top: 5%;
    margin-left: 8%;
    border-collapse: separate;
    /* table-layout: fixed;*/

    background-color: whitesmoke;
    z-index: -1;
    text-align: center;
}

    table#users th {
        font-weight: bolt;
    }

    table#users th, td {
        width: 300px;
        text-align: center;
        font-size: .6em;
        padding: 3px
    }



    table#users td, th {
        border: 1px solid #dddddd;
        text-align: center;
        fpnt-size: 0.6em;
    }

    table#users tr:nth-child(even) {
        background-color: #dddddd;
    }

.flex-container {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

    .flex-container > div {
        display: flex;
        flex-direction: row;
    }

.active-area {
    display: flex;
    /*border: 1px solid salmon;*/
    flex-direction: column;
}

.search_input {
    margin-top: 20px;
    height: 1.0em;
    font-size: 1.2em;
    color: red;
}

    .search_input:hover {
        background-color: yellow;
    }

.search-label {
    margin-left: 10%;
    margin-top: 20px;
    font-size: 1.5em;
    color: darkgreen;
}

.active_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    font-size: 1.5em;
    padding: 5px;
    margin-top: 30px;
}

.admin-button:hover {
    background-color: yellow;
}

.admin-button {
    width: 150px;
    height: 3em;
    border-radius: 5px;
    background-color: aqua;
    word-wrap: break-word;
}

#List {
    font-size: 2.5em;
    margin-left: 50px;
    margin-top: 0%;
    position: absolute;
    display: none;
}

#active_input, #delete_input {
    display: flex;
    column-gap: 2%;
    display: none;
}

/*.selectList {
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.0em;
    padding: 5px;
    
    height: 1.5em;
    border-radius: 5px;*/
/*background-color: aquamarine;*/
}

.input_field {
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.0em;
    padding: 5px;
    margin-top: 30px;
    height: 1.5em;
    border-radius: 5px;
    background-color: aquamarine;
}

#submitNewButton, #deleteButton {
    font-size: 1.0em;
    padding: 5px;
    margin-top: 30px;
    height: 2em;
    border-radius: 5px;
    display: none;
    margin-left: 14%;
    margin-top: 4%;
}

.select-container {
    display: flex;
}       
 .select-container >div{

    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    margin: 50px;
   
}

select {
    flex-direction: column;
    outline: 0;
    background: #00ffff3d;
    background-image: none;
    width: 17em;
    height: 2em;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1em;
    margin-left: 14%;
    margin-top: 8%;
    text-align: left;
    padding: 5px;
}

/*.selectList {
    position: relative;
    display: block;
    width: 15em;
    height: 2em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    padding 10px;*/
    /*padding-bottom: 10px;*/
/*}*/
